/*header*/
.site-header{
    width:100%;
    position:sticky;
    top:0;
    z-index:1000;
    background-color:#f7f7f7;
}
.container-fluid{
    font-weight:bold;
    display: flex;
    align-items: center;
    gap:90px;
    padding:10px 0;
}
.navbar-brand{
    text-decoration: none;
    font-weight: 800;
    font-size: 1.75rem !important;
    letter-spacing: .4px;
    margin-left:15px;
}
.navbar-nav{
    gap: 40px;
}
.nav-item{
    font-size:18px;
}
.nav-link{
    color:#036b03 !important;
}
ul.navbar-nav li a:hover{
    color:#d13364!important;
}
.btn-outline-success{
    background-color:#d13364 !important;
    border-radius:7px !important;
    border:#d13364 !important;
}
.form-control{
    border-radius:7px !important;
    border-color:#036b03 !important;
}
.but{
    margin-right:20px;
}
.custom-search {
  width: 350px !important; 
}
#giohangmh{
    display:flex;
    align-items:center;
    margin-right:10px;
}
#giohangmh svg{
    margin-right:20px;
}
.user-dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 24px; 
  right: 0;
  background-color: white;
  border-radius: 5px;
  min-width: 120px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex-direction: column;
  z-index: 100;
}
.dropdown-content > a {
  color: #333;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content a:hover {
  background-color: #f0f0f0;
  color:#036b03;
}
.user-dropdown:hover .dropdown-content {
  display: flex;
}
/*-------------*/
/*MENU*/
.menumh1{
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#f7f7f7;
    margin-top:10px;
}
ul.top-menu{
    list-style:none;
    display:flex;
    gap:30px;
    margin:0;
}
ul.top-menu > li{
    position:relative;
}
   ul.top-menu > li > a {
      display:block;
      text-decoration: none;
      color: #626A67;
      padding: 8px 6px;
      font-size:16px;          
    }
    ul.top-menu > li > a:hover {
      background: #e1dcdc;
    }
    ul.top-menu> li ul.submain2-menu {
      display: none;
      position: absolute;
      list-style: none;
      background-color: white;
      box-shadow: -1px 5px 10px 0 rgba(0,0,0,0.2);
      text-align: left;
      padding: 0;
      border-radius: 5px;
      box-shadow: #ccc;
      min-width: 250px;
      z-index:2;
    }
    ul.submain2-menu li a {
      color: black;
      padding: 10px 12px;
      display: block;
      text-decoration: none;
     }
     ul.submain2-menu li a:hover{
      background-color:green;
      color:white;
     }
     ul.top-menu li:hover > ul.submain2-menu{
      display:block;
     }
     ul.submain2-menu li{
      position:relative;
     }
     ul.submain2-menu ul.submain2-menu{
      top :0;
      left:100%;
      display:none;
     }
/*-----------------------------------*/
/*Products 1*/
.khungmh{
    width: 100%;
    display: flex;
    justify-content: center;  
}
.khung1mh{
    max-width:1400px;
    width:100%;
}
/* banner */
.khunghoa {
  position: relative; 
}
.khunghoa img {
 width: 1400px;
  height: 110px;
}
.chutrenanh {
  position: absolute;
  bottom: 30px;   /* cách mép dưới 10px */
  left: 50px;     /* cách mép trái 10px */
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.h3{
  bottom: 30px;   /* cách mép dưới 10px */
  left: 50px;     /* cách mép trái 10px */
  color: white;
}
.titlemh{
    margin-top:20px;
    border: 1px solid #62805b;
    border-radius:10px;
    background-color: #62805b;
    color:white;
    padding:10px 15px; 
    text-align:center;
}
.linemh{
    border-bottom:2px solid #626A67;
    width:1100px;
    margin:auto;
}
/*Products 2*/
.product-box3mh{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
    max-width:1050px; 
    margin-top:15px;   
    padding:10px;     
 }
.box3mh {   
   border: 1px solid white;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
   overflow:hidden; 
}
.box3mh img {
   width: 100%;
   margin-bottom:10px;
   height:200px;
   transition: transform 0.3s ease-in-out;
 }
 .box3mh img:hover{
   transform:scale(1.1);
}
  .tagmh {
    position: absolute;
    top: 25px;
    left: 0;
    border:none;
    background-color:#5ea052;
    color:white;
}
 .tagmh1{
    position: absolute;
    top: 55px;
    left: 0;
    border:none;
    background-color:rgba(3, 107, 3, 0.6);
    color:white;
    padding:3px;
 }
 .cover-tensp{
    padding: 3px;
    text-align:center;
    color:blue;
}
.covermh-img {
    position: relative;
}
.tensp{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tensp:hover{
    color:#d13364;
}
.textmhgach{
    text-decoration:line-through;
    color:#747171
}
/*giohang*/
.icon-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent;   
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.icon-cart:hover {
  background: #588157;
  background: transparent; 
  transform: scale(1.1);
}
/*footer*/
#footer{
    display:flex;
    justify-content:center;
    background-color:#62805b;
    padding:20px;
    color:white;
    margin-top:20px;
}
.wrapper-footer{
    max-width: 1000px;
    width:100%;
    padding:20px;
    gap:10px;
}
.flex1{
    display:flex;
    gap: 50px;
}
.flex{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-bottom:5px;
}
.icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}